---

#
# Assert that required vpc_filter element is present
- name: ensure vpc_igw array contains name key
  assert:
    that:
      - igw.name is defined
      - igw.name | length > 0
    msg: "aws_vpc_igws[x].name is not defined, but required"


- name: ensure vpc_igw array contains vpc_name xor vpc_filter key
  assert:
    that:
      - igw.vpc_filter is defined or igw.vpc_name is defined
      - not (igw.vpc_filter is defined and igw.vpc_name is defined)
    msg: "aws_vpc_igws[x].vpc_filter or .vpc_name is not defined, but required to lookup vpc"


# Returns:
# * aws_vpc_igw_vpc_id
# * aws_vpc_igw_vpc_cidr
- include_tasks: gather_facts_vpc_by_filter.yml
  when:
    - igw.vpc_filter is defined

# Returns:
# * aws_vpc_igw_vpc_id
# * aws_vpc_igw_vpc_cidr
- include_tasks: gather_facts_vpc_by_name.yml
  when:
    - igw.vpc_name is defined


- name: set igw tags
  set_fact:
    _aws_vpc_igw_tags: |
      {{
        igw.tags | default([]) + [{
          'key': 'Name',
          'val': igw.name
        }]
      }}

- name: ensure igw is created
  ec2_vpc_igw:
    # Fixed values
    state: present
    # Looked-up values
    vpc_id: "{{ aws_vpc_igw_vpc_id }}"
    # Optional values
    tags: "{{ _aws_vpc_igw_tags | get_attr('key', 'val') }}"
    region: "{{ igw.region | default(aws_vpc_igw_default_region | default(omit)) }}"
    aws_access_key: "{{ lookup('ENV', 'AWS_ACCESS_KEY') | default(omit) }}"
    aws_secret_key: "{{ lookup('ENV', 'AWS_SECRET_KEY') | default(omit) }}"
    security_token: "{{ lookup('ENV', 'AWS_SECURITY_TOKEN') | default(omit) }}"
    profile: "{{ aws_vpc_igw_profile | default(omit) }}"
